// 既定の奴
@import "modules/mixin";
$cWhite: white;
$cBlack: black;

p {
  color: $cWhite;
}
.main-title {
  font-size: 36px;
}

body {
  background-color: #151515;
  position: relative;
}

#global-container {
  font-family: "Scheherazade New", serif;
}

#container {
  position: relative;
}

.sticky-container {
  width: 100%;
}

//ローダー
.loader {
  &.loaded {
    transition: 1s;
    opacity: 0;
    visibility: hidden;
  }
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
  &__inner {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    & h2 {
      font-weight: 500;
      font-family: "Scheherazade New", serif;
      color: $cWhite;
    }
    & span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid $cWhite;
      pointer-events: none;
      animation: animate 5s linear infinite;
      &:nth-child(2) {
        animation-direction: reverse;
      }
      &:nth-child(3) {
        animation-duration: 3s;
      }
    }
  }
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//ヘッダー
.header {
  position: fixed;
  width: 88%;
  margin: 0 auto;
  height: 100px;
  top: 0;
  left: 6%;
  background-color: transparent;
  z-index: 1500;
  &__inner {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    & h1 {
      height: 100%;
      line-height: 100px;
      text-align: center;
      color: $cWhite;
      margin-left: 30px;
      font-weight: 50;
      user-select: none;
    }
  }
  &__text {
    position: absolute;
    top: 100px;
    left: 0;
    opacity: none;
    visibility: hidden;
  }
}

.dt-header {
  overflow: hidden;
  opacity: 0;
  &__inner {
    display: flex;
  }
  &__ul {
    display: flex;
  }
}

// モバイルメニュー
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: $cBlack;
  opacity: 0;
  visibility: hidden;
  transform: translateX(50%);
  transition: 0.7s;

  &__cover {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    &.menu-open {
      background-color: rgba(0, 0, 0, 0.5);
      transition: 0.7s;
      opacity: 1;
      visibility: visible;
      z-index: 700;
    }
  }

  &__btn {
    background-color: unset;
    border: none;
    outline: none !important;
    cursor: pointer;
    position: relative;
    & > span {
      background-color: $cWhite;
      width: 35px;
      height: 2px;
      display: block;
      margin-bottom: 9px;
      transition: 0.5s;
    }

    &.menu-open {
      & > span {
        &:nth-child(1) {
          transform: translateY(11px) rotate(135deg);
        }
        &:nth-child(2) {
          transform: translateX(15px) scaleX(0);
        }
        &:nth-child(3) {
          transform: translateY(-11px) rotate(-135deg);
        }
      }
    }
  }
  &__item {
    display: block;
    list-style: none;
    padding: 0 40px;
    margin-top: 100px;
    transition: 0.7s;
    transform: translateX(50%);
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        transition-delay: $i * 0.07s;
      }
    }
    &.menu-open {
      transform: translateX(0);
    }
  }
  &__link {
    position: relative;
    z-index: 1200;
    display: block;
    color: $cWhite;
    text-decoration: none;
    & span {
      display: block;
    }
  }
}

.menu-open {
  &.mobile-menu {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
    z-index: 900;
  }
}

.main {
  width: 100%;
  height: 100vh;
  &__img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

.inview {
  & > .en {
    transform: translateY(-50px);
    transition: 1s;
    // transition-delay: 2s;
    opacity: 0.3;
    @for $i from 1 through 7 {
      & .char {
        &:nth-child(#{$i}) {
          transition-delay: $i * 0.04s;
        }
      }
    }
  }
  & > .ja {
    transform: translateY(-50px);
    transition: 1s;
    // transition-delay: 3s;
    opacity: 1;
  }
  & .span1 {
    transition: all 1s;
    transform: scaleX(3);
    transform-origin: left;
    opacity: 1 !important;
  }
  & .span2 {
    transition: all 1s;
    transform: scaleX(3);
    opacity: 1 !important;
    transform-origin: right;
  }
  & .span3 {
    transition: all 1s;
    transform: scaleX(3);
    transform-origin: left;
    opacity: 1 !important;
  }
}

.en {
  color: $cWhite;
  opacity: 0;
  & span {
    user-select: none;
    display: block;
    height: 50px;
    font-size: 45px;
    font-family: sans-serif;
    font-weight: 550;
  }
}

.ja {
  color: $cWhite;
  opacity: 0;
  & span {
    user-select: none;
    display: block;
    height: 80px;
    font-size: 45px;
  }
}

.profile {
  position: relative;
  z-index: 0;
  margin-bottom: 60px;

  & .uppertext1 {
    & > span {
      position: absolute;
      top: -30px;
      left: 0;
      width: 50px;
      height: 2px;
      background-color: $cWhite;
      opacity: 0;
    }
  }

  &__en {
    position: absolute;
    top: 50px;
    left: 50px;
    & span {
      transform: rotate(90deg);
    }
  }

  &__ja {
    position: absolute;
    top: 70px;
    left: 70px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    & img {
      position: relative;
      z-index: -1;
      width: 80%;
      height: 500px;
      margin-left: auto;
      margin-bottom: 50px;
      object-fit: cover;
      transform: translateX(50%);
      transition: 0.7s;
      opacity: 0;
      visibility: hidden;
      &.inview {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__texts {
    width: 90%;
    margin: 0 auto;
    transform: translateX(50%);
    transition: 0.7s;
    opacity: 0;
    visibility: hidden;
    &.inview {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }

    & p {
      text-align: center;
      color: $cWhite;
      font-size: 14px;
    }
  }
}

.works {
  position: relative;
  margin-bottom: 60px;
  & .uppertext2 {
    & > span {
      position: absolute;
      top: -30px;
      right: 0;
      width: 50px;
      height: 2px;
      background-color: $cWhite;
      opacity: 0;
    }
  }

  &__en {
    position: absolute;
    top: 50px;
    right: 60px;
    & span {
      transform: rotate(90deg);
    }
  }
  &__ja {
    position: absolute;
    top: 80px;
    right: 40px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    margin-left: 10%;
  }
  &__item {
    margin-bottom: 30px;
    transition: 0.7s;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    &.inview {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
    & img {
      width: 100%;
      height: 260px;
      object-fit: cover;
    }
  }
}

.contact {
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 150px;
  & .uppertext3 {
    & > span {
      position: absolute;
      top: -30px;
      left: 0;
      width: 50px;
      height: 2px;
      background-color: $cWhite;
      opacity: 0;
    }
  }

  &__en {
    position: absolute;
    top: 50px;
    left: 50px;
    & > span {
      transform: rotate(90deg);
    }
  }
  &__ja {
    position: absolute;
    top: 70px;
    left: 70px;
  }

  &__form {
    width: 100%;
    height: 100%;
    & form {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-left: 40%;
      position: relative;
    }
  }
  &__item {
    width: 100%;
    text-align: left;
    & > label {
      color: $cWhite;
      display: block;
      cursor: pointer;
    }
    & input {
      width: 100%;
      font-size: 14px;
    }
    & textarea {
      width: 100%;
      font-size: 12px;
    }
  }
  &__btn {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    width: 40%;
    transform: translate(-70%, 120%);
    & input {
      width: 90%;
      cursor: pointer;
      border: none;
      background-color: $cWhite;
      font-family: "Scheherazade New", serif;
      &:nth-child(1) {
        margin-right: 20px;
      }
    }
  }
}

footer {
  width: 100%;
  height: 100px;
  color: $cWhite;
  text-align: center;
  vertical-align: bottom;
  & > p {
    color: $cWhite;
  }
  & .totop {
    text-align: left;
    padding-left: 10%;
    font-size: 16px;
    & a {
      color: $cWhite;
      text-decoration: none;
      position: relative;
      &:hover::before {
        transform: translateX(0);
        opacity: 1;
        transition: 0.2s;
      }
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $cWhite;
        opacity: 0;
        transition: 0.2s;
        transform: translateX(-50%);
      }
    }
  }
}

@media (min-width: 600px) {
  @import "breakpoints/ipad";
}
@media (min-width: 960px) {
  @import "breakpoints/desktop";
}
